/*Contact us page*/
.contact{
    padding: 50px 40px;
}
.contact-title{
    display: flex;
    margin-bottom: 40px;
    align-items: baseline;
}
.contact .back{
    flex: 0 0 30%;
}
.contact row{
    align-items: center;
}
.contact .back a,.contact .backs a{
    z-index: 99999;
    background: #213b52;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    transition: all 0.4s;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .back a i,.contact .backs a i{
    font-size: 16px;
    color: #fff;
    line-height: 0;
}
.contact .back a i::before,.contact .backs a i::before{
    font-weight: 900!important;
}
.ctitle h1{
    font-size: 2.1rem;
    margin-bottom: 0;
}
.contactmain{
    background: url('../images/contact-bg.png');
    padding: 40px 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}
.contactmain .cmain p{
    color: #fff;
    text-align: center;
    font-size: 19px;
}
.cnumber{
    text-align: center;
}
.cnumber h4{
    font-size: 2.1rem;
    color: #fff;
    margin-bottom: 0;
}
.cnumber h4 a{
    color: #fff;
    font-weight: 900;
}
.cimage{
        text-align: center;
    margin: 20px 0 10px;
}
@media all and (max-width: 480px){
    .cnumber h4{
        font-size: 1.6rem;
    }
    .contact {
        padding: 40px 35px;
    }
}
@media all and (max-width: 320px){
     .cnumber h4{
        font-size: 1.6rem;
    }
    .contact {
        padding: 23px 15px;
    }
    .contactmain{
        padding: 30px 20px;
    }
    .ctitle h1{
        font-size: 1.6rem;
    }
}
/*Contact us page*/
/*FAQS page*/
.faqaccordion .accordion-item h2{
    /*border-bottom: 2px solid #ddd;*/
}
.faqaccordion .accordion-item h2 button{
   font-size: 20px;
    padding: 30px 25px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    border: none;
    color: #fff;
    border-radius: 5px 5px 0 0;
}
.faqaccordion .accordion-item h2 button.collapsed{
    color: #23303f;
    border-bottom: 2px solid #ddd;
}
.faqaccordion .accordion-item:nth-last-child(1) h2 button.collapsed{
    border-bottom: none;
}
.faqaccordion .accordion-button::after{
    filter: invert(66%) sepia(83%) saturate(5384%) hue-rotate(349deg) brightness(99%) contrast(91%);
}
.faqaccordion .accordion-collapse{
    background: #00a59c;
    border-radius: 0px 0px 5px 5px;
    border: 2px solid #23303f;
}
.faqaccordion .accordion-collapse .accordion-body{
    border-radius: 10px;
    font-size: 18px;
    padding: 20px 30px;
    color: #fff;
    font-family: 'amazon-light';
    font-family: 'amazon-light';
    font-weight: 800;
}
.faqaccordion h2 .accordion-button{
    background-color: #23303f!important;
}
.faqaccordion h2 .accordion-button.collapsed{
    background-color: transparent!important;
}
.faqaccordion{
    padding: 0 35px 40px;
}
@media all and (max-width: 320px){
    .faqaccordion{
        padding: 0 15px 23px;
    }
    .faqaccordion .accordion-item h2 button{
        font-size: 18px;
        padding: 25px 20px;
    }
    .faqaccordion .accordion-collapse .accordion-body{
        padding: 15px 20px;
        font-size: 16px;
    }
}
/*FAQS page*/
/* How to guide page */
#htgaccordion{
    padding: 0 35px 40px;
}
#htgaccordion .accordion-item h2 button{
    font-size: 20px;
    padding: 25px 25px 25px 70px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23303f;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'amazon-bold';
    /*align-items: end;*/
}
#htgaccordion h2 button.collapsed{
    /*margin-bottom: 15px;*/
}
#htgaccordion .accordion-button::after{
    background-size: 0.9rem;
}
#htgaccordion .accordion-collapse{
    background-color: #23303f!important;
    border-radius: 0px 0px 5px 5px;
    /*margin-bottom: 15px;*/
}
#htgaccordion .accordion-item .accordion-collapse h4{
    padding: 20px 0 25px;
    border-bottom: 1.5px solid #ddd;
    font-size: 17px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: left;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    line-height: 1.3;
    font-family: 'amazon-light';
}
#htgaccordion .accordion-item .accordion-collapse h4::after{
    content: "";
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    
    content: "\F285";
    color: #f26222;
    font-family: bootstrap-icons !important;
    font-size: 14px;
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 1.25rem;*/
    transition: transform .2s ease-in-out;
}
#htgaccordion .accordion-item .accordion-collapse h4 a{
    color: #fff;
}
#htgaccordion .accordion-item .accordion-collapse h4:nth-last-child(1){
    border-bottom: none;
}
#htgaccordion .accordion-body{
    padding: 0px 25px;
}
#htgaccordion .accordion-header{
    position: relative;
}
#htgaccordion .accordion-header img{
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    margin: auto;
}
/* How to guide page */
/* FAQ page */
#faqsaccordion{
    padding: 0 35px 40px;
}
#faqsaccordion .accordion-item h2 button{
    font-size: 20px;
    padding: 25px 25px;
    font-weight: 400;
    outline: none;
    box-shadow: none;
    border: none;
    color: #23303f;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-family: 'amazon-bold';
    /*align-items: end;*/
}
#faqsaccordion h2 button.collapsed{
    /*margin-bottom: 15px;*/
}
#faqsaccordion .accordion-item, #htgaccordion .accordion-item{
    margin-bottom: 15px;
}
#faqsaccordion .accordion-button::after{
    background-size: 0.9rem;
}
#faqsaccordion .accordion-collapse{
    background-color: #23303f!important;
    border-radius: 0px 0px 5px 5px;
    /*margin-bottom: 15px;*/
}
#faqsaccordion .accordion-item .accordion-collapse h4{
    padding: 20px 0 25px;
    border-bottom: 1.5px solid #ddd;
    font-size: 17px;
    margin: 0;
    position: relative;
    display: flex;
    align-items: baseline;
    width: 100%;
    text-align: left;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease;
    line-height: 1.3;
    font-family: 'amazon-light';
}
#faqsaccordion .accordion-item .accordion-collapse h4::after{
    /*content: "";*/
    /*flex-shrink: 0;*/
    /*width: 1.25rem;*/
    /*height: 1.25rem;*/
    /*margin-left: auto;*/
    
    /*content: "\F285";*/
    /*color: #f26222;*/
    /*font-family: bootstrap-icons !important;*/
    /*font-size: 14px;*/
    /*background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e);*/
    /*background-repeat: no-repeat;*/
    /*background-size: 1.25rem;*/
    /*transition: transform .2s ease-in-out;*/
}
#faqsaccordion .accordion-item .accordion-collapse h4 a{
    color: #fff;
}
#faqsaccordion .accordion-item .accordion-collapse h4:nth-last-child(1){
    border-bottom: none;
}
#faqsaccordion .accordion-body{
    padding: 0px 25px;
}
#faqsaccordion .accordion-header{
    position: relative;
}
#faqsaccordion .accordion-header img{
    position: absolute;
    top: 0;
    left: 20px;
    bottom: 0;
    margin: auto;
}

@media all and (max-width: 320px){
    #htgaccordion,#faqsaccordion{
        padding: 0 15px 25px;
    }
    #htgaccordion .accordion-item h2 button{
        font-size: 18px;
    }
    #htgaccordion .accordion-item .accordion-collapse h4,#faqsaccordion .accordion-item .accordion-collapse h4{
        font-size: 16px;
    }
}